@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html> 
<html> 
<head>
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
	<style>
		body {
		}
		table{
			padding: 10px;  
		} 
		td { 
			border: solid; 
			width: 50px;
			height: 50px;  
		}   
	</style>  		
</head> 

 	
<body> 

	<div class="text-center">
    		<h1>Hello, world!</h1> 
    		<p>The time on the server is @DateTime.Now</p>
		<table style = {} >  
			<tr>
				<td>R</td>
				<td>N</td>
				<td>B</td>
				<td>K</td>
				<td>Q</td>
				<td>B</td>
				<td>K</td>
				<td>R</td>
			</tr> 
			<tr>
				<td>P</td>
				<td>P</td>
				<td>P</td>
				<td>P</td>
				<td>P</td>
				<td>P</td>
				<td>P</td>
				<td>P</td>
			</tr> 
			<tr>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<td>P</td>
				<td>P</td>
				<td>P</td>
				<td>P</td>
				<td>P</td>
				<td>P</td>
				<td>P</td>
				<td>P</td>
			</tr>
			<tr>
				<td>R</td>
				<td>N</td>
				<td>B</td>
				<td>K</td>
				<td>Q</td>
				<td>B</td>
				<td>K</td>
				<td>R</td>
			</tr>
		</table> 
	</div>

	<script data-main="./wwwroot/js/index" src ="./wwwroot/js/require.js"></script> 
</body>
</html>  
